ion-toolbar {
  --background: #ececfb;
  text-align: center;
  }
  
ion-title {
    background-color: #ececfb;
}

ion-menu-button {
    color: var(--ion-color-primary);
  }

ion-row {
  background-color: #ececfb;
}