<ion-footer class="ion-no-border" style="padding:10px; ">
  <ion-toolbar style="border-radius: 20px; height: 40px !important;">
    <ion-row style="height: 60px !important;">
      <ion-col style="text-align: center;font-size: x-large; vertical-align: middle;">
        <ion-icon name="home-outline"></ion-icon>
      </ion-col>
      <ion-col style="text-align: center;font-size: x-large;">
        <ion-icon name="bag-add-outline"></ion-icon>
      </ion-col>
      <ion-col style="text-align: center;font-size: x-large;">
        <ion-icon name="fitness-outline"></ion-icon>
      </ion-col>
      <ion-col style="text-align: center;font-size: x-large;">
        <ion-icon name="call"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>