<app-header></app-header>

<ion-content>
  <div style="margin-top: 50px;">
    <div *ngFor ="let each of data">
      <ion-card routerDirection="root" [routerLink]="['/description-data/doctor']" lines="none" detail="false" routerLinkActive="selected">
        <ion-row>
          <ion-col size="3">
            <img src="../assets/img/madison.jpg" height="100%" width="100%"/>
          </ion-col>
          <ion-col class="list_image">
            <ion-card-content>
              <ion-card-title>Doctor A</ion-card-title>
              <ion-card-subtitle>Heart surgeon - Hospital A</ion-card-subtitle>
            </ion-card-content>
            <ion-row>
              <ion-col size="3">
                <div>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-label>4.3</ion-label>
                </div>
              </ion-col>
              <ion-col> 
                <div>
                  <ion-icon name="time-outline"></ion-icon>
                  <ion-label> 9:00 AM to 10:00 PM</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
 
</ion-content>

<app-footer></app-footer>

